.header {
    position: relative;
    padding-block: 10px;
    background: linear-gradient(90deg, rgba(248,238,223,1) 25%, rgba(255,255,255,0.700717787114846) 100%);
    background-color: var(--color-light);
    height: 100px;
    border-bottom: 1px solid #dedede;

    @include tablet {
        padding-block: 17px;
    }

    @include mobile {
        padding-block: 28px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            justify-content: space-evenly;
        }

        @include minitablet {
            justify-content: flex-end;
        }
    }

    .logo {

        @include mobile {
            img {
                display: block;
                margin: 0 auto;
                max-width: 80%;
            }
        }

    }


    &__btn {
        margin-top: 3px;
        height: 54px;

        @include minitablet {
            display: none;
            visibility: hidden;
        }
    }

    &__list {
        padding-block: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 300px;
        width: 100%;

        @include tablet {
            left: 50%;
        }
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        font-weight: 500;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #888;
        transition: color .3s ease-in-out, opacity 0.4s ease-in-out;

        &-active {
            color: var(--color-primary);
        }

        &:hover {
            color: var(--color-primary);
        }

        @include tablet {
            opacity: 0;
        }
    }

    &__nav {
        display: flex;
        vertical-align: middle;
        z-index: 10;

        @include tablet {
            position: absolute;
            overflow: hidden;
            right: -50%;
            top: 100px;
            background-color: var(--color-light);

            padding-inline: 100%;
            box-shadow: 0 1.75rem 1.875rem rgba(154, 156, 165, .08), 0 1.25rem 1rem rgba(154, 156, 165, .05), 0 .5rem .625rem rgba(154, 156, 165, .04), 0 .25rem .25rem rgba(30, 33, 44, .03);
            max-height: 0px;

            transition: max-height 0.4s ease-in-out;

        }

        &--active {
            max-height: 150px;

            .header__link {
                font-size: 18px;
                opacity: 1;

            }
        }
    }

    &__item {
        padding-right: 28px;

        @include tablet {
            // z-index: 100;
        }

    }
}
