.template-item {
    padding-block: 50px;

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-direction: column-reverse;
        }

        &--reverse {
            flex-direction: row-reverse;
            
            @include tablet {
                flex-direction: column-reverse;
            }
        }

        &::before {
            content: '';
            right: 19px;
            top: -27px;
            width: 100px;
            height: 100px;
            position: absolute;
            background-image: url('../img/bg/grid-bg.webp');
            background-repeat: no-repeat;
        }
    }

    &__image {
        padding: 10px;
        max-width: 540px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding-inline: 10px;
        max-width: 500px;    

        @include tablet {
            margin-bottom: 20px;
        }
    
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        color: var(--color-tundora);

        span {
            color: var(--color-primary);
        }

        @include minitablet {
            text-align: center;
            font-size: 32px;
        }

        @include mobile {
            font-size: 28px;
            line-height: 36px;
        }
    }

    &__descr {
        font-weight: 400;
        font-size: 18px;
        color: var(--color-gray);
        line-height: 150%;

        :not(:last-child) {
            margin-bottom: 20px;
        }

        @include minitablet {
            text-align: center;
        }
    }
}