<section class="template-item ads">
    <div class="container template-item__container template-item__container--reverse">
        <div class="template-item__image">
            <img src="img/get/ads.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Guaranteed Google and Facebook <span>Ads Results</span>
            </div>
            <div class="template-item__descr ads__descr">
                <p>
                    Our Google and Facebook Ads team is 100% focused on attracting and delivering quality leads to your preschool … or your money back.
                </p>

                <p>
                    By using display and dynamic ad strategies, our team creates your campaign, monitors performance, and delivers reports while optimizing and customizing your approach to maximize results.
                </p>
            </div>
        </div>
    </div>
</section>