<section class="template-item best">
    <div class="container template-item__container">
        <div class="template-item__image best__image">
            <img loading="lazy" src="img/get/best.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Giving You The <span>Best Website</span>
            </div>
            <div class="template-item__descr tech__best">
                <p>
                    We’re here to build your center a site that’s proven to outperform your competition.
                </p>
                <p>
                    The process starts with a conversation. We get to know your center, your business, and of course, you. From there, we’ll take on the design, content creation, development, launch, and maintenance.
                </p>
                <p>
                    Whether you have an existing website or you’re not sure where to start, we’re ready to create a site you and your families are sure to love.
                </p>
            </div>
        </div>
    </div>
</section>