<section class="template-item boost">
    <div class="container template-item__container">
        <div class="template-item__image">
            <img loading="lazy" src="img/get/boost.webp" alt="Google search" aria-label="hidden" >
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Let’s Boost Your <span>Enrollment Today</span>
            </div>
            <div class="template-item__descr">
                <p>
                    Our team of preschool experts is here to provide the leads to double, or even triple, your enrollment, allowing you the time to create the best preschool experience possible.
                </p>
            </div>
            <a href="#" class="btn btn-reset boost__btn">Book your Free Consultation</a>
        </div>
    </div>
</section>