<section class="choose">
    <div class="container choose__container">

        <div class="choose__card">

            <div class="choose__wrapper">
                <div class="choose__top">
                    <div class="choose__title">Website Boost</div>
                    <div class="choose__subtitle">First impressions matter. We create and manage a website you can be proud of</div>
                    <div class="choose__price">USD  $250/mo</div>
                </div>


                <div class="choose__title choose__mt">Website Design</div>
                <div class="choose__option">
                    2 Includes an entire website redesign ($2,000 value slashed when you subscribe to our monthly plan)
                </div>
                <div class="choose__option">
                    Unlimited monthly design changes
                </div>


                <div class="choose__title">Design Services</div>
                <div class="choose__option">
                    Unlimited monthly development changes
                </div>


                <div class="choose__title">Design Services</div>
                <div class="choose__option">
                    SEO optimized website pages built to show your website on Google
                </div>
            </div>

            <a href="#" class="choose__btn btn btn-reset">Book A Call</a>

        </div>


        <div class="choose__card">
            
            <div class="choose__wrapper">
                <div class="choose__top">
                    <div class="choose__title">Enrollment Boost </div>
                    <div class="choose__subtitle">
                        Fully managed marketing to increase your enrollment.
                    </div>
                    <div class="choose__price">USD  $200/mo</div>
                </div>


                <div class="choose__title choose__mt">Marketing </div>
                <div class="choose__option choose__option-info">
                    <div class="choose__option-wrapper">
                        $500 in free Google Ads credit. <span class="choose__info">ⓘ
                            <span class="choose__hint-wrapper">
                                <span class="choose__hint"></span>
                            </span>
                        </span>


                    </div>
                </div>
                <div class="choose__option">
                    Google and Facebooks ads creation, management, and optimization
                </div>

                <div class="choose__option">
                    Ad spend not included. We suggest $300+ per month for best results.
                </div>

            </div>

            <a href="#" class="choose__btn btn btn-reset">Book A Call</a>

        </div>


    </div>
</section>