<section class="company">
    <div class="container company__container">
        <div class="company__bio">
            <img loading="lazy" loading="lazy" src="img/home/owner.webp" alt="Owner" class="company__image" aria-label="hidden">
            <div class="company__title">
                <p class="company__name">Samir Patel <span>(Owner)</span></p>
                <p class="company__info">Village Montessori (94 children)</p>
            </div>
        </div>
        <p class="company__quote">
            “NJ Local is always focused on the <span>results</span>. They’ve been great since the very beginning.”
        </p>
    </div>
</section>