<section class="template-item consult">
    <div class="container template-item__container template-item__container--reverse">
        <div class="template-item__image">
            <img loading="lazy" src="img/home/consult.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Consulting and Strategy Taking You To the <span>Next Level</span>
            </div>
            <div class="template-item__descr">
                <p>
                    Support your preschool’s growth with the support of preschool experts on your side. Each plan comes with your personal marketing expert who will create a customized step-by-step framework based on your goals. Take advantage of our decades of experience working with preschools of all sizes (including our own) and watch your business grow.
                </p>
            </div>
            <a href="#" class="btn btn-reset consult__btn">Claim Your Free Growth Strategy</a>
        </div>
    </div>
</section>