<section class="template-item data">
    <div class="container template-item__container">
        <div class="template-item__image">
            <img loading="lazy" src="img/home/data.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Data-Driven Formula <span>Guarantees Success</span>
            </div>
            <div class="template-item__descr">
                <p>
                    Everything we do is to drive leads and increase your enrolment. Through our help, you’ll receive a predictable and consistent flow of high-quality enrolment leads. We handle the “backend” for you by optimizing your website to generating leads through Google and Facebook ads, to improving your organic search results and more. All of this is done for you on autopilot – let us take marketing off your plate.
                </p>
            </div>
        </div>
    </div>
</section>