<section class="faq" id="faq">
    <div class="container">
        <div class="faq__column">
            <div class="title faq__title">Frequently Asked <span> Questions, Answered</span>.</div>

        <div class="faq__wrapper">

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>Can I try Sell before buying?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Everything we do is to drive leads and increase your enrollment. Through our help, you’ll receive a predictable and consistent flow of high-quality enrollment leads. 
                        </p>
                    </div>
                </div>

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>How can I buy Sell?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            The consulting firm provided exceptional service and valuable insights that significantly contributed to the success of our project. Their team demonstrated deep expertise in the field, delivering innovative solutions tailored to our specific needs.
                        </p>
                    </div>
                </div>

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>Do all users have to be on the same plan?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Hi guys, how is it going
                            The consulting firm provided exceptional service and valuable insights that significantly contributed to the success of our project.
                        </p>
                    </div>
                </div>
                
                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>Is there a Sell mobile app?</h3>
                        <svg viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
                        </p>
                    </div>
                </div>

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>What other Zendesk products can I use with Sell?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
                        </p>
                    </div>
                </div>

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>What email providers does Sell integrate with?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
                        </p>
                    </div>
                </div>

                <div class="faq__accordion">
                    <div class="faq__question">
                        <h3>Where can I learn more about Sell features?</h3>
                        <svg width="15" height="15" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </div>
                    <div class="faq__answer">
                        <p>
                            Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>