<section class="hero hero--main">

    <picture>
        <source srcset="img/bg/hero-bg.webp" media="(min-width: 576px)">
        <img src="img/bg/hero-bg-small.webp" alt="Kindergarten playground" class="hero__image" role="presentation">
    </picture>

    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__title">End-To-End Performance Marketing For <span>Preschool Brands</span></h1>
            <p class="hero__subtitle">NJ Local Marketing brings preschool brands to full capacity by increasing enrollment through data driven growth marketing strategies. Created by preschool owners for preschool owners. We’ve been there. We get it.</p>
            <a href="#" class="btn btn-reset hero__btn">Increase My Enrollment</a>
        </div>
    </div>
</section>