<section class="how">
    <div class="container">
        <div class="title how__title">
            How We <span>Do It</span>
        </div>
        <div class="descr how__descr">
            With over 10 years experience in preschool marketing our team has developed a streamlined onboarding process.
        </div>

        <div class="how__article">
            <div class="how__left">
                <div class="how__left-title">
                    Consultation Call
                </div>

                <div class="how__left-info">
                    The Consultation Call with our team is an opportunity to discuss how we can help you achieve your desired business goals and drive enrollment. We’ll explore unique challenges and share more about how our tailored strategies will enhance your digital presence and boost enrollment. Our goal is to partner with you for continued success and measurable results.
                </div>
            </div>

            <div class="how__right">

                <div class="how__card card__item">
                    <div class="card__number">1</div>
                    <div class="card__header">
                        Discovery
                    </div>
    
                    <div class="card__info">
                        We are here to learn everything about you and your goals as a preschool owner to help shape future discussions and discover areas of opportunity.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">2</div>
                    <div class="card__header">
                        The  NJ Local Marketing Difference
                    </div>
    
                    <div class="card__info">
                        Why NJ Local Marketing? The company was created by a team of preschool owners for preschool owners, with a deep understanding of what it takes to help you become a successful business owner.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">3</div>
                    <div class="card__header">
                        Our Services
                    </div>
    
                    <div class="card__info">
                        Discover our array of services and omni-channel marketing approach to determine how we can best serve you and your business.
                    </div>
                </div>

            </div>
        </div>


        <div class="how__article">
            <div class="how__left">
                <div class="how__left-title">
                    Pre-Launch Call
                </div>

                <div class="how__left-info">
                    The Pre-Launch Call with your Preschool Success Manager is designed to get to know more about you, your business, and its specific challenges in detail. During this call, we’ll gather essential information about your goals, share more about our products and services, and discuss how to set your account up for success. This is the first step in establishing a long-term partnership aimed at driving your growth and achieving tangible outcomes.
                </div>
            </div>

            <div class="how__right">

                <div class="how__card card__item">
                    <div class="card__number">1</div>
                    <div class="card__header">
                        Meet Your Preschool Success Manager
                    </div>
    
                    <div class="card__info">
                        Meet the team of experts that will work directly with you and help your business dreams become a reality.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">2</div>
                    <div class="card__header">
                        Partnership Alignment
                    </div>
    
                    <div class="card__info">
                        A long-lasting partnership is the most important outcome of the pre-launch call. We will take this time to help establish expectations and align with your current and long-term goals.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">3</div>
                    <div class="card__header">
                        Discuss Strategy
                    </div>
    
                    <div class="card__info">
                        During the Pre-Launch Call, we develop a strategy tailored to your preschool’s needs. We'll understand your goals, target audience, and market challenges. This ensures our marketing strategies align with your vision, providing a clear roadmap for success and setting the stage for a long-lasting partnership.
                    </div>
                </div>

            </div>
        </div>

        
        <div class="how__article">
            <div class="how__left">
                <div class="how__left-title">
                    Launch
                </div>

                <div class="how__left-info">
                    You are officially ready to launch! During the launch, your Preschool Success Manager and Account Manager will develop a winning campaign aligned with the business goals discussed in previous calls. Leads will be fully integrated into your preschool’s CRM, and a dashboard will be created, giving you full access to account performance data, top-performing creatives, and more.
                </div>
            </div>

            <div class="how__right">

                <div class="how__card card__item">
                    <div class="card__number">1</div>
                    <div class="card__header">
                        Campaign Launch
                    </div>
    
                    <div class="card__info">
                        Using data gathered during our discovery process and pre-launch, our team of experts will launch a proactive and innovative campaign.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">2</div>
                    <div class="card__header">
                        Preschool Dashboard
                    </div>
    
                    <div class="card__info">
                        Preschools will receive a custom dashboard highlighting account performance, ensuring full transparency between [company] and you.
                    </div>
                </div>

                <div class="how__card card__item">
                    <div class="card__number">3</div>
                    <div class="card__header">
                        CRM Integration
                    </div>
    
                    <div class="card__info">
                        Our team of experts will integrate seamlessly with your CRM to ensure all leads are in your system and ready to be worked.
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>