<section class="template-item seo">
    <div class="container template-item__container template-item__container--reverse">
        <div class="template-item__image">
            <img loading="lazy" src="img/get/seo.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                <span>SEO</span> That Actually Works
            </div>
            <div class="template-item__descr seo__descr">
                <p>
                    When parents in your city are looking online for childcare, your preschool deserves to be at the top of the list. Our proven method ensures you’ll attract more quality leads, keeping your tour schedule busy, and your classrooms full
                </p>
            </div>
        </div>
    </div>
</section>