<section class="team">
    <div class="container">
        <div class="title team__title">
            Meet Your <span>Team</span>
        </div>
        <div class="descr team__descr">
            You will be assigned a team of dedicated preschool marketing experts who work closely with you to ensure your goals align with our strategy, maximizing your success. Together, we tailor campaigns to meet your specific needs and increase your enrolment.
        </div>

        <div class="team__wrapper">

            <div class="team__card card__item">
                <img loading="lazy" src="img/get/team-card-1.svg" alt="Check" class="card__image" aria-label="hidden">
                <div class="card__header">
                    Preschool Success Manager
                </div>

                <div class="card__info">
                    You are assigned a dedicated Preschool Success Manager who works with you every step of the way, ensuring continuous support and guidance.
                </div>
            </div>

            <div class="team__card card__item">
                <img loading="lazy" src="img/get/team-card-2.svg" alt="Check" class="card__image" aria-label="hidden">
                <div class="card__header">
                    Account Manager
                </div>

                <div class="card__info">
                    Our highly skilled Account Managers act as a direct extension of your preschool, aligning with goals and collaborating closely with your Preschool Success manager.
                </div>
            </div>

            <div class="team__card card__item">
                <img loading="lazy" src="img/get/team-card-3.svg" alt="Check" class="card__image" aria-label="hidden">
                <div class="card__header">
                    Account Specialists
                </div>

                <div class="card__info">
                    The primary goal of our Account Specialists is to work directly with your Account Manager to ensure the timely execution of strategies and special requests, whether it be with SEO, ads, website, or anything else we can help you with, providing seamless support.
                </div>
            </div>


        </div>
    </div>
</section>