<section class="template-item tech">
    <div class="title tech__title">Technology Driven <span>RESULTS FOCUSED</span></div>
    <div class="container template-item__container">
        <div class="template-item__image">
            <img src="img/get/tech.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                Account <span>Dashboard</span>
            </div>
            <p class="template-item__descr tech__descr">
                Transparency is key to a successful relationship with you. All preschools receive account-specific dashboards that highlight performance and break down key metrics, demographic data, and top-performing creatives.
            </p>
        </div>
    </div>
</section>