<section class="template-item work">
    <div class="container template-item__container">
        <div class="template-item__image">
            <img loading="lazy" src="img/home/work.webp" alt="Google search" aria-label="hidden">
        </div>
        <div class="template-item__info">
            <div class="template-item__title">
                A Proven Track Record of Increased Enrollment for <span>Preschool Businesses</span>
            </div>
            <div class="template-item__descr">
                <p>
                    Work with a team of preschool owners 100% dedicated to preschools. We know exactly how to increase enrollment and perform the same actions for the preschools we own. We’re supporting locations all over the US.
                </p>
                <p>
                    Whether you have a single location or many, we have solutions that fit you where you are at today and where you want to be tomorrow. Let’s get you fully enrolled starting today!
                </p>
            </div>
        </div>
    </div>
</section>