// colors
:root {
  --color-black: #000;
  --color-light: #fff;
  --color-gray: #888888;
  --color-tundora: #444444;
  --color-primary: #f39c12;
  --color-active: #ee9300;
  --color-t-active: #363636;
  --color-sidecar: #f5e3c8;
  --color-lilac: #eeedf8;


  


  // sizes
  --grid-gap: 30px;

  // speed
  // --hero-slider-speed: 500;

  // stylization
  --main-shadow:

}

